body{
    background-image: url(./img/magical-forest-pz.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-family: comic sans ms;
}
#pet-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px; 
}

table{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
#feed-button {
    background-color: green;
    color: white;
  }
  
  #sleep-button {
    background-color: orange;
    color: black;
  }
  
  #play-button {
    background-color: blue;
    color: white;
  }
  #pet-name {
    font-family: Arial, Helvetica, sans-serif sans ms;
    font-size: 24px;
    color: #000;
    text-align: center;
  }
  img {
    animation: move-left-right 2s infinite;
  }
  
  @keyframes move-left-right {
    from {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-10px);
    }
  
    to {
      transform: translateX(10px);
    }
  }

  .pet-name {
    font-family: comic sans ms;
    font-size: 30px;
    color: purple;
    text-align: center;
  }
  